fastapi
uvicorn[standard]
python-multipart
google-genai
librosa
matplotlib
numpy
pydub
python-dotenv
scipy
openai
mido
basic_pitch
pretty_midi
torch
torchvision
torchaudio
demucs
soundfile
openunmix
pyloudnorm
torchcodec